﻿@using Films.Web;
@model Films.Web.Models.MovieEditModel
@{
    ViewBag.Title = "Films :: Movie Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TitleContent{@ViewBag.Title}

<style type="text/css">
    .poster_img {
        float:left;
        width:200px;
        margin-left:15px;
    }
</style>

<div>
    @using (Html.BeginForm("Edit", "Films", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-horizontal-2" }))
    {
        @Html.AntiForgeryToken()

        const string inputCss = "form-control";
        const string divCss = "col-sm-4";

        @Html.HiddenFor(m => m.MovieId)

        <div class="form-group">
            @Html.LabelFor(m => m.MovieName, new { @class = "control-label" })
            <div class="@divCss">
                @Html.TextBoxFor(m => m.MovieName, new { @class = @inputCss })
                @Html.ValidationMessageFor(m => m.MovieName)
            </div>
        </div>
        
        if (Model.IsEdit)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Poster, new { @class = "control-label" })
                <img alt="Poster" src="@Model.PosterUrl" class="poster_img"/>
            </div>
            <div class="form-group">
                @Html.Label("New poster (if needed)", new { @class = "control-label" })
                <div class="@divCss">
                    <input type="file" name="PosterFile" id="PosterFile" style="margin-top:8px;" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Poster, new { @class = "control-label" })
                <div class="@divCss">
                    <input type="file" name="PosterFile" id="PosterFile" style="margin-top:8px;"/>
                </div>
            </div>
        }
        
        <div class="form-group">
            @Html.LabelFor(m => m.MovieYear, new { @class = "control-label" })
            <div class="@divCss">
                @Html.DropDownListFor(m => m.MovieYear, Model.YearDDList, new { @class = @inputCss })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
            <div class="@divCss">
                @Html.TextAreaFor(m => m.Description, new { @class = @inputCss })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Director, new { @class = "control-label" })
            <div class="@divCss">
                @Html.TextBoxFor(m => m.Director, new { @class = @inputCss })
                @Html.ValidationMessageFor(m => m.Director)
            </div>
        </div>
        
        <div class="form-group">
            <div class="actions">
                <button class="btn btn-primary" type="submit" id="btnSave">Save</button>
                <a class="btn btn-default" href="@Url.Action("ReturnToList")">Cancel</a>
            </div>
        </div>
        
    }
</div>

@section styles
{
    
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}