﻿@using MvcContrib.UI.Grid
@using Films.Web;
@using Films.Web.Models;
@using Films.Web.Security;
@using PagedList.Mvc
@model PagedList.IPagedList<MovieListItemModel>

@{
    Layout = null;
}

<style type="text/css">
    .poster_img {
        float:left;
        width:200px;
        margin-right:10px;
    }

    .container {
        background: #ffffff none repeat scroll 0% 0%;
        border: 1px solid #D4D4D4;
        box-shadow: 0px 0px 4px #DBDBDB;
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 10px;
    }

    .not_found {
        margin-top: 15px;
    }

    .info .type {
        color: #f60;
        padding-left: 23px;
    }

    .info td {
        min-height: 14px;
        vertical-align: top;
        padding: 6px 0 6px 20px;
        color: #555;
    }

    .lnk_fa_action
    {
        
    }

</style>

    @{
        if (Model.Any())
        {
            foreach(MovieListItemModel item in Model)
            {
      
                <div class="container">
                    <h4>
                        @if (item.UserId == UserPrincipal.Current.UserId)
                        {
                        <a class="lnk_fa_action" href="@Url.Action("Edit", "Films", new { ID = item.MovieId })" title="Edit">
                            <i class="fa fa-pencil fa-action"></i>
                        </a>
                        <a class="lnk_fa_action" href="javascript:void(0);"  onclick="if (confirm('Are you sure you want to delete this film?')) { DeleteFilm(@(item.MovieId)) }" title="Delete">
                            <i class="fa fa-trash-o fa-action"></i>
                        </a>
                        }
                        <a href="@Url.Action("Info", "Films", new { ID = item.MovieId })" title="">@item.MovieName</a>
                    </h4>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <a href="@Url.Action("Info", "Films", new { ID = item.MovieId })" title="">
                                <img alt="Poster" src="@item.PosterUrl" class="poster_img"/>
                            </a>
                            <div>
                                <table class="info">
                                    <tbody>
                                    <tr>
                                        <td class="type">Year</td>
                                        <td>
                                            @item.MovieYear.ToString()
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="type">
                                            Description
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="type">
                                            Director
                                        </td>
                                        <td>
                                            @item.Director
                                        </td>
                                    </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
                
            @Html.PagedListPager(Model, page => "javascript:GetFilmsList(" + page.ToString() + ");")
        }
        else
        {
            <div class="not_found">
                <strong>No films found</strong>
            </div>
        }
        @Html.Hidden("FilmsListPageNumber", Model.PageNumber.ToString())
    }

<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>
