﻿@using Films.Web;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Films :: List";
}

@section TitleContent{@ViewBag.Title}

@section styles
{
    <style type="text/css">
    </style>
}

<div>
    <a class="btn btn-large btn-primary" href="@Url.Action("Edit", "Films", null)">Add Movie</a>
</div>
<div id="films-list" class="table_container">
    
</div>

<script type="text/javascript">
    $(function () {
        GetFilmsList(1);
	});

	function GetFilmsList(pageIndex) {
	    if (isNaN(pageIndex) || (pageIndex == 0)) {
	        pageIndex = $("#FilmsListPageNumber").val()
	    }

	    $.get("@Url.Action("FilmsList")",
				{
				    pageIndex: pageIndex
				},
                function (result) {
                    $("#films-list").html(result);
                });
	}

    function DeleteFilm(id) {
        $.ajax({
            url: "@Url.Action("Delete")",
            cache: false,
            data: {
                id: id
            },
            success: function (result) {
                GetFilmsList(0);
            }
        });
    }
</script>