﻿@using Films.Web;
@model Films.Web.Models.MovieEditModel
@{
    ViewBag.Title = "Films :: Movie View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TitleContent{@ViewBag.Title}

<style type="text/css">
    .poster_img {
        float:left;
        width:200px;
        margin-left:15px;
    }
</style>

<div class="form-horizontal form-horizontal-2">
    @{
        const string inputCss = "form-control";
        const string divCss = "col-sm-4";
    }

    @Html.HiddenFor(m => m.MovieId)

    <div class="form-group">
        @Html.LabelFor(m => m.MovieName, new { @class = "control-label" })
        <div class="@divCss">
            <p class="data-label">@Model.MovieName</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Poster, new { @class = "control-label" })
        <img alt="Poster" src="@Model.PosterUrl" class="poster_img"/>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.MovieYear, new { @class = "control-label" })
        <div class="@divCss">
            <p class="data-label">@Model.MovieYear.ToString()</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
        <div class="@divCss">
            <p class="data-label">@Model.Description</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Director, new { @class = "control-label" })
        <div class="@divCss">
            <p class="data-label">@Model.Director</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
        <div class="@divCss">
            <p class="data-label">@Model.UserName</p>
        </div>
    </div>

    <div class="form-group">
        <div class="actions">
            <a class="btn btn-default" href="@Url.Action("ReturnToList")">Back To List</a>
        </div>
    </div>
    
</div>

@section styles
{
    
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}