﻿@model Films.Web.Models.LoginModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Films :: LOGIN";
}

@section TitleContent{@ViewBag.Title}

<div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                if (TempData["AlertType"] != null)
                {
                    <div class="alert alert-danger">@TempData["AlertMessage"]</div>
                }
                
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
                
                @Html.ActionLink("New user registration", "Register")
            }
        </div>
    </div>
</div>