﻿@model Films.Web.Models.RegistrationModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Films :: New User Registration";
}

@section TitleContent{@ViewBag.Title}

<div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">New User Registration</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                if (TempData["AlertType"] != null)
                {
                    <div class="alert alert-danger">@TempData["AlertMessage"]</div>
                }
                
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.UserLogin, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.UserLogin, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserLogin)
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                </div>
                
                @Html.ActionLink("Already member?", "Login")
            }
        </div>
    </div>
</div>