﻿@using Films.Web.Security;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("TitleContent", required: false)</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/jquery-css")

    @RenderSection("styles", false)
    
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Films DB</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>@UserPrincipal.Current.DisplayName<i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("LogOut", "Account")"><i class="fa fa-sign-out fa-fw"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    @{
                        var alertMessage = (string) TempData["AlertMessage"];
                        if (alertMessage != null)
                        {
                            var alertType = TempData["AlertType"] != null ? (AlertType)TempData["AlertType"] : AlertType.Empty;

                            var alertClass = String.Empty;

                            switch (alertType)
                            {
                                case AlertType.Error: alertClass = "alert alert-danger alert-dismissable"; break;

                                case AlertType.Warning: alertClass = "alert alert-info alert-dismissable"; break;

                                case AlertType.Success: alertClass = "alert alert-success alert-dismissable"; break;
                            }
                            <div class="@alertClass" id="alert-message">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>    
                                @Html.Raw(alertMessage)
                            </div>
                        }
                    }

                    @RenderBody()

                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", false)
</body>
</html>
