﻿@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>
      </div>
      @{
            var alertMessage = (string)TempData["AlertMessage"];
            if (alertMessage != null)
            {
                <div class="alert alert-danger">@alertMessage</div>    
            }
      }
      @RenderBody()
    </div>
</div>

<script type="text/javascript">
    $(".submitBtn").click(function () {
        $(this).closest(".modal-dialog").find("form").submit();
    });
</script>
