﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@RenderSection("TitleContent", required: false)</title>
        
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/common")
        @Scripts.Render("~/bundles/jqueryval")
    </head>
    <body>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
