﻿html, body {
    min-width: 1200px;
    height: 100%;
}

.page-header {
    margin-top: 0;
}

.control-text
{
    margin-top: 7px;
}

.control-label-left {
    margin-top: 7px;
    float: left;
}

.important-message, .error-message, .validation-summary-errors, .field-validation-error {
    color: #B94A48;
}

.actions {
    margin: 0 15px;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
}

.actions .btn {
    margin-right: 5px;
}

.actions-centered {
    text-align: center;
}

span.required:after, label.required:after {
    display: inline;
    color: #e32;
    content: '*';
}

.form-horizontal .control-label {
    width: 16.66666667%;
    float: left;
}

.form-horizontal .actions {
    padding-left: 16.66666667%;
}

.form-horizontal-2 .control-label {
    width: 25%;
    float: left;
}

.form-horizontal-2 .actions {
    padding-left: 25%;
}

.input-list-item {
    margin-bottom: 7px;
}

.fa-action {
  font-size: 1.5em;
  line-height: 0.75em;
  vertical-align: -15%;
  margin-right:5px;
}

.returnDiv, .buttonsDiv {
    margin-bottom: 20px;
}

.ui-autocomplete
{
    list-style-type: none;
    padding-left: 5px;
    margin:0;
}

.ui-menu-item
{
    padding-top: 5px;    
}

.nav-tabs
{
    margin-bottom: 15px;
}

.control-group .form-control{
    display: inline-block;
}

.control-group>div {
    padding-right: 0px;
}

.form-control.input-mini {
    width: 70px;
}
.form-control.input-medium {
    width: 200px;
}

.form-control.input-100 {
    width: 100px;
}

.form-control.input-400 {
    width: 400px;
}

.datepicker, .form-inline .datepicker {
    width: 120px;    
}

.filtered-table .checkbox {
    margin-bottom: 0;
}

a.disabled {
   pointer-events: none;
   cursor: default;
   color: gray;
}

tr.highlight_gray td 
{
    background-color: gainsboro;

}

.table-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
}

.table-scrollable table {
    margin: 0 !important;
}

.checkbox-top-0 .checkbox {
    margin-top: 0;
}

.clearBtn i {
    opacity: 0.7;
}

.tooltip.in {
    filter: alpha(opacity=80);
    opacity: .8;
}

.inactive td 
{
    background-color: #f5f5f5;
}

td.single-action {
    width: 16px;
}

td.two-action {
    width: 42px;
}

.modal-dialog .alert {
    margin: 10px 10px 0 10px;
    padding: 5px;
}

.table_container {
    margin: 0px 0px 0px;
}

.table_container_scroll {
    /*height: 570px;*/
    height: 100%;
    overflow-y: scroll;
}

tr.done_style td
{
    background-color: silver !important;
}

.data-label
{
    margin-top: 6px;
}